.thumbnail > img { 
  height: 100px;
}

.foundation { font-size: 50px;}
.concealer { font-size: 50px;}
.blush { font-size: 50px;}
.bronzer { font-size: 50px;}
.lipstick { font-size: 50px;}
.lashes { font-size: 50px;}